<h1>Add Kicks!</h1>
    <form method="POST" action="/shoes/new">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="date">Date:</label>
        <input type="date" name="date"><br>
        <label for="date">Release Date:</label>
        <input type="date" name="release"><br>
        <label for="brand">Brand:</label>
        <input type="text" name="brand">
        <label for="hyperating">Hype Rating:</label>
        <input type="integer" name="hyperating">
    <input type="submit" value="submit">
</form>